
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

.shop-item,
.summon {
  height: 250px;
  padding: 10px;
  text-align: center; 
}

.shop-item:hover {
  box-shadow: 0 0 10px rgba(214, 76, 76, 0.5);
} 

.shop-item:active {
  box-shadow: 0 0 10px rgba(76, 81, 214, 0.5);
} 

.summon:hover {
  box-shadow: 0 0 55px rgba(6, 126, 6, 0.732);
}

.shop-item img {
  cursor: pointer;
}

.shop-item img,
.summon img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.shop-item p,
.summon p {
  margin: 1px 0;
}

.shop-item img + p,
.summon img + p {
  font-size: 20px;
  font-weight: 500;
}

.shop-item p + p,
.summon p + p {
  font-style: italic;
  font-size: 13px;
}

.shop-item button,
.summon-button {
  border: 1px solid lightpink;
  padding: 3px 5px;
  background-color: transparent;
  margin-top: 10px;
  font-family: Montserrat;
  cursor: pointer;
}

.summon-button:hover {
  background-color: rgba(24, 145, 24, 0.3);
}

.summon-button:hover a {
  color: white;
}

.summon-button:active {
  background-color: rgba(0, 128, 0, 0.1);
}

.summon-button:active a {
  color: white;
}

.summon:hover button {
  animation: pulse 1s infinite alternate;
  border: 1px solid transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(26, 126, 6, 0.732);
  }

  100% {
    box-shadow: 0 0 55px rgba(6, 126, 46, 0.732);
  }
}


 

